.previous-button,
.next-button {
  background-color: #333;
  padding: 10px 20px;
  font-size: 16px;

  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

.previous-button:hover,
.next-button:hover {
  background-color: #525050;
}

.previous-button:disabled,
.previous-button:disabled:hover {
  background-color: #868282;
  cursor: not-allowed;
}

.submit-button {
  background-color: #f44336;
  padding: 10px 20px;
  font-size: 16px;

  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

.submit-button:hover {
  background-color: #d32f2f;
}
