.App {
  text-align: center;
  display: flex;
  min-height: 74vh;
  flex-direction: column;
  justify-content: center;
  color: #222f31;
  height: auto;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../Images/background.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Adjust the opacity value (0.8) for desired transparency */
  z-index: -1;
  filter: brightness(0.8) contrast(1);
}
